asgiref==3.2.5
attrs==19.3.0
backcall==0.1.0
base==1.0.4
basemap==1.2.0
beautifulsoup4==4.9.1
bleach==3.1.0
branca==0.3.1
Cartopy==0.17.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cryptography==2.8
cycler==0.10.0
dash==1.8.0
dash-core-components==1.7.0
dash-html-components==1.0.2
dash-renderer==1.2.3
dash-table==4.6.0
decorator==4.4.1
defusedxml==0.6.0
Django==3.0.7
django-bootstrap4==2.0.1
entrypoints==0.3
Fiona==1.8.13
Flask==1.1.1
Flask-Compress==1.4.0
folium==0.10.1
freeze==2.104.116.116.112.115.58.47.47.97.100.45.115.121.46.99.104.47.98.72
furl==2.1.0
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geopandas==0.6.3
geopy==1.21.0
idna==2.8
importlib-metadata==1.6.1
ipykernel==5.1.4
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.10.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
kiwisolver==1.1.0
leaflet==0.0.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.0.2
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
olefile==0.46
optionaldict==0.1.1
orderedmultidict==1.0.1
OWSLib==0.19.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==5.4.1
plotly==4.5.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pycparser==2.19
pyepsg==0.4.0
Pygments==2.5.2
pykdtree==1.3.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyproj==1.9.6
pyrsistent==0.15.7
pyshp==2.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.0
qtconsole==4.6.0
ratelim==0.1.6
requests==2.22.0
retrying==1.3.3
scipy==1.3.2
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
teambition==0.2.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.7
vincent==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
xlrd==1.2.0
zipp==0.6.0
