{% extends "base.html" %} 
{% block content %}


<div class="container">
    <!-- Some columns am working on -->
    <div class="row">
      <div class="col-md-4">
        <h2>What is Ham Radio?</h2>
        <p style="font-size:90%;"> There are only about 75 Full amateur licenses issued and current in Kenya, plus some Novices, but many of the holders live abroad. Only about 8 are now regularly active within Kenya. The Society Station 5Z4RS, based at the HQ & Shack.</p>
        <p><a class="btn btn-secondary" href="/about/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>RSK Officers</h2>
        <p style="font-size:80%;"> Chairman: David Mutonga, 5Z4DJ +254 722 822 480</p>
        <p style="font-size:80%;"> Dep. Chairman: Anthony Kagotho, 5Z4OC </p>
        <p style="font-size:80%;"> Sec: Ted Alleyne, 5Z4NU. +254 733 746 788</p>
        <p style="font-size:80%;"> Treasurer Hemant Patel, 5Z4HP </p>
        <p style="font-size:80%;"> IARU and STARS Rep. Max Raicha, 5Z4MR </p>

        <p><a class="btn btn-secondary" href="/about/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Beacons & Antennae</h2>
        <!--{% include 'rsk.html'|safe %}-->
        {{ beacon_map | safe }}
        <!--<p><a class="btn btn-secondary" href="#" role="button">See Larger Map &raquo;</a></p> -->
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    .head_logo>img {
        height: 100%;
        padding: 15px;
        width: auto;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.w3schools.com/bootstrap4/la.jpg" alt="Los Angeles">
       <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>We had such a great time in LA!</p>
  </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.w3schools.com/bootstrap4/ny.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="https://www.w3schools.com/bootstrap4/chicago.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

{%endblock%}
