{% extends "base.html" %} 
{% block content %}


<div class="container">
    <!-- Some columns am working on -->
    <div class="row">
      <div class="col-md-4">
        <h2>General</h2>
        <p>There are only about 75 Full amateur licenses issued and current in Kenya, plus some Novices, but many of the holders live abroad. Only about 8 are now regularly active within Kenya. The Society Station 5Z4RS, based at the HQ & Shack.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Club Officers</h2>
        <p>Chairman: David Mutonga, 5Z4DJ +254 722 822 480</p>
        <p>Dep. Chairman: Anthony Kagotho, 5Z4OC </p>
        <p>Sec: Ted Alleyne, 5Z4NU. +254 733 746 788</p>

        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Points of Interest</h2>
        <!--{% include 'rsk.html'|safe %}-->
        {{ beacon_map | safe }}
        <!--<p><a class="btn btn-secondary" href="#" role="button">See Larger Map &raquo;</a></p> -->
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    .head_logo>img {
        height: 100%;
        padding: 15px;
        width: auto;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}
