{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Beacon and Repeater Locations</h5>
    <div class="card-body">
        <p class="card-text"> Radio Society of Kenya (RSK) meets monthly at the shack, Joseph Kangethe Road, Woodley Estate, Nairobi County, Kenya.The 2020 Annual General Meeting was held on 11th January, 2020, at Planning House, Lower Kabete Road, Nairobi County, Kenya...!</p>
        <a href="https://www.rsk.or.ke"
           class="btn btn-danger">Read More!</a>
    </div>
</div>
</div>

{% endblock sidebar %}
