{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">RSK on Facebook</h5>
    <div class="card-body">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="mxK6Dau7"></script>
    <div class="fb-page" data-href="https://www.facebook.com/RadioSocietyofKenya" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RadioSocietyofKenya" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RadioSocietyofKenya">Radio Society of Kenya</a></blockquote></div>
    </div>
</div>
</div

{% endblock sidebar %}
