{% extends 'base.html' %} {% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }
    .head_logo>img {
        height: 100%;
        padding: 15px;
        width: auto;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ flatpage.title }} {% endblock title %}</h1>
        <p class="card-text ">{{ flatpage.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
